html,
body,
#root,
.app {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
}

.messageBar {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.textInput {
  flex-grow: 1;
  margin-right: 20px;
}

.textInput input {
  width: 100%;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}